.font_gray {
	color: gray;
	font-size: small;
}

.font_gray_b {
	color: gray;
	font-size: small;
	vertical-align: bottom;
}

.modal-content {
	height: 250px;
	border-radius: 12px;
	padding: 20px;
}

/* 채팅쪽 */
.chattingBox {
	margin: 0 auto;
	background-color: white;
	width: 992px;
	height: 800px;
	border: 1px solid rgb(222, 224, 225);
	border-radius: 6px;
}

.chatting_memberBox {
	float: left;
	width: 30%;
	height: 100%;
}

.chatting_member {
	height: calc(100% - 80px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.member_textBox {
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chatting_content {
	float: left;
	width: 70%;
	height: 100%;
	border-left: 1px solid rgb(222, 224, 225);
}
/* 윗라인  */
.myProfile, .yourPost {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(222, 224, 225);
	height: 80px;
	padding: 10px;
	cursor: pointer;
}

#yourPost {
	cursor: pointer;
}

.myProfile img, #yourPost img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid rgb(222, 224, 225);
	cursor: pointer;
}

/* 왼쪽 채팅 멤버 */
.yourProfile {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 10px;
	cursor: pointer;
}

.yourProfile img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid rgb(222, 224, 225);
}

.yourProfile:hover {
	background-color: #ffad0a2d;
}

/* 오른쪽 채팅 컨텐츠 */
.messageBox {
	height: calc(100% - 80px);
	padding: 10px;
}

.contentDiv {
	height: calc(100% - 150px);
	overflow-y: auto;
}

.textDiv {
	border-radius: 10px;
	border: 2px solid rgb(192, 194, 196);
}

.textDiv textarea {
	padding: 10px;
	height: 100px;
	resize: none;
}

.textDiv>.row img {
	cursor: pointer;
}

textarea:focus {
	outline: none;
}

.middle_Btn {
	background-color: rgb(255, 177, 88);
	border: 2px solid rgb(137, 111, 58);
	border-radius: 6px;
	height: 32px;
	font-size: small;
	box-shadow: 2px 2px 2px rgba(158, 136, 93, 0.712);
}

.middle_Btn:hover {
	color: white;
}

.middle_Btn:active {
	margin-right: -3px;
	/* margin-top: 3px; */
	box-shadow: none;
}

.middle_bottomLine {
	padding-top: 50px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

/* 이모티콘 */
.imoticonBox {
	background-color: white;
	width: 500px;
	height: 500px;
	border: 2px solid rgb(192, 194, 196);
	overflow: hidden;
	z-index: 0;
}

.no_index {
	z-index: 0;
}

.emoticon_gabal {
	float: left;
	width: 33.33%;
	height: 33.33%;
	cursor: pointer;
}

.dynamicChat_l {
	text-align: left;
	margin: 10px;
}

.dynamicChat_r {
	text-align: right;
	margin: 10px;
}

.dynamicChat_l>.chat_text {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	background-color: rgb(223, 223, 224);
}

.dynamicChat_r>.chat_text {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	background-color: orange;
	color: rgb(245, 248, 249)
}

/* 스크롤 */
.contentDiv::-webkit-scrollbar {
	width: 6px;
}

.contentDiv::-webkit-scrollbar-track {
	background-color: transparent;
}

.contentDiv::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgb(193, 193, 193);
}

.contentDiv::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

.chatting_member::-webkit-scrollbar {
	width: 6px;
}

.chatting_member::-webkit-scrollbar-track {
	background-color: transparent;
}

.chatting_member::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgb(193, 193, 193);
}

.chatting_member::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}


/* 새로 만든 채팅방 css */

#roomWrap {
    width: 200px;
}

#roomList {
    border: 1px solid #0084FF;
    border-radius: 5px;
}

#roomHeader {
    background-color: #0084FF;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.roomEl {
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0px;
    cursor: pointer;
}

.roomEl:hover{
    background: #f0f0f0;
}

.roomEl.active{
    background: #f0f0f0;
}

#chatWrap {
    width: 600px;
    border: 1px solid #ddd;
}

#chatHeader {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
}

#chatLog {
    height: 700px;
    overflow-y: auto;
    padding: 10px;
}

.myMsg {
	display: block;
    text-align: right;
}

.anotherMsg {
    text-align: left;
    margin-bottom: 5px;
}

.msg {
    display: inline-block;
    border-radius: 15px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.anotherMsg > .msg {
    background-color: #f1f0f0;

}

.myMsg > .msg {
    background-color: #0084FF;
    color: #fff;
}

.anotherName {
    font-size: 12px;
    display: block;
}

#chatForm {
    display: block;
    width: 100%;
    height: 50px;
    border-top: 2px solid #f0f0f0;
}

#message {
    width: 85%;
    height: calc(100% - 1px);
    border: none;
    padding-bottom: 0;
}

#message:focus {
    outline: none;
}

#chatForm > input[type=submit] {
    outline: none;
    border: none;
    background: none;
    color: #0084FF;
    font-size: 17px;
}

#memberWrap{
    width: 200px;
}

#memberList {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#memberHeader {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
}

.memberEl {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 20px;
    font-size: 14px;
}

#contentCover{
    width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}