<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.AuctionMapper">

	<insert id="insertAutcion">
	<selectKey keyProperty="auction_idx" order="BEFORE" resultType="int">
		SELECT IFNULL(MAX(auction_idx), 0) FROM auction
	</selectKey>
	INSERT 
		INTO
			auction
				VALUES(
				#{auction_idx} + 1		
				, #{map.auction_title }
<!-- 				, #{map.auction_min_bid	} -->
<!-- 				, #{map.auction_min_increase } -->
				, #{map.auction_price }
				, #{map.auction_Lcategory }
				, #{map.auction_Mcategory }
				, #{map.auction_Scategory }
				, #{map.auction_product_status }
				, #{map.auction_start }
				, #{map.auction_end	}
				, #{map.auction_address	}
				, 'N'
				, #{map.auction_price }
				, 0
				, #{map.auction_content	}
				, "경매 등록 대기중"
				, now()
				, #{id }
				, 'N'
				, #{map.immediately_price }
				, 0
				)
	</insert>
	
	<select id="selectImminent" resultType="map">
	SELECT * FROM auction ORDER BY auction_end ASC
	
	</select>
	<select id="selectHotList" resultType="map">
	SELECT * FROM auction ORDER BY auction_readcount DESC
	
	</select>
	<select id="selectCurrent" resultType="map">
	SELECT * FROM auction ORDER BY auction_date DESC
	
	</select>
	<select id="selectMax" resultType="int">
	SELECT IFNULL(MAX(auction_idx), 0) FROM auction
	</select>
	
<!-- 	<select id="selectFiles" resultType="map"> -->
<!-- 	SELECT file_num, MIN(file_idx) AS file_idx , MIN(file_id) AS file_id, MIN(file_div) AS file_div, MIN(file_exe) AS file_exe, MIN(file_size) AS file_size, MIN(file_name) AS file_name, MIN(file_path) AS file_path -->
<!-- 		FROM file -->
<!-- 			WHERE file_div = 'auction' -->
<!-- 				GROUP BY file_num; -->
<!-- 	</select> -->

	<select id="selectFiles" resultType="map">
	SELECT *
		FROM file f 
			WHERE file_idx in 
				(SELECT MIN(file_idx) AS file_idx
					FROM file
						WHERE file_div = 'auction'
							GROUP BY file_num);
	</select>
	
	<select id="selectDetailList" resultType="map">
		SELECT * FROM auction
			WHERE auction_idx = #{auction_idx}
	</select>
	
	<select id="selectProductSearch" resultType="map">
		SELECT *
		 	FROM auction
				WHERE auction_title LIKE '%${auction_search }%'
	</select>
	<select id="selectMemberSearch" resultType="map">
		SELECT *
		 	FROM auction
				WHERE member_id LIKE '%${auction_search }%'
	</select>
	
	<select id="getProductList" resultType="map">
		SELECT *
			FROM auction
				WHERE auction_Lcategory = #{param} or auction_Mcategory = #{param} or auction_Scategory = #{param}
	</select>
	
	<select id="getCategorys">
		SELECT * 
			FROM category
				WHERE bigCategory = #{param} or midCategory = #{param} or smallCategory = #{param};
	</select>
	
	<select id="getBigCategory" resultType="string">
		SELECT DISTINCT bigCategory FROM category WHERE bigCategory = #{param}
	</select>
	<select id="getMidCategory" resultType="map">
		SELECT DISTINCT midCategory , bigCategory FROM category WHERE midCategory = #{param}
	</select>
	<select id="getSmallCategory" resultType="map">
		SELECT DISTINCT smallCategory , midCategory , bigCategory FROM category WHERE smallCategory = #{param}
	</select>
	<select id="getBigCategorys" resultType="map">
		SELECT DISTINCT bigCategory FROM category
	</select>
	<select id="getMidCategorys" resultType="map">
		SELECT
		 	DISTINCT midCategory
		  		FROM category
		  			WHERE bigCategory = IFNULL((SELECT DISTINCT bigCategory  FROM category c WHERE midCategory = #{param}),IFNULL((SELECT DISTINCT bigCategory  FROM category c WHERE smallCategory = #{param}),#{param}) );
	</select>
	<select id="getSmallCategorys" resultType="map">
		SELECT
		 	DISTINCT smallCategory
		 		 FROM category c
		  			 WHERE midCategory = IFNULL((SELECT DISTINCT midCategory  FROM category c WHERE midCategory = #{param}),(SELECT DISTINCT midCategory  FROM category c WHERE smallCategory = #{param}))
	</select>
	<select id="selectFilesIdx" resultType="map">
	SELECT *
		FROM file
			WHERE file_num = #{auction_idx } AND file_div = 'auction'
	</select>
	
	<update id="updatePrice">
		UPDATE auction SET auction_final_price = #{auction_final_price}
			WHERE auction_idx = #{auction_idx};
	</update>
	
	<update id="detailModify">
		UPDATE auction
		 	SET 
				auction_title = #{auction_title}
				, auction_price = #{auction_price}
				, auction_Lcategory = #{auction_Lcategory}
				, auction_Mcategory = #{auction_Mcategory}
				, auction_Scategory = #{auction_Scategory}
				, auction_product_status = #{auction_product_status}
				, auction_start = #{auction_start}
				, auction_end = #{auction_end}
				, auction_address = #{auction_address}
				, auction_content = #{auction_content}
				, immediately_price = #{immediately_price}
					WHERE auction_idx = #{auction_idx}
	</update>
	
	<update id="readCountUp">
		UPDATE auction SET auction_readcount = auction_readcount + 1 WHERE auction_idx = #{auction_idx}
	</update>
	
	<select id="dibsCount" resultType="int"> 
	SELECT COUNT(*) FROM dibs d WHERE dibs_type = 'auction' AND type_num = #{auction_idx};
	</select>
	
	<delete id="deleteAution">
	DELETE FROM auction WHERE auction_idx = #{auction_idx}
	</delete>
	
	<delete id="deleteAutionFile">
	DELETE FROM file WHERE file_num = #{auction_idx} AND file_div = 'auction'
	</delete>
	
	<delete id="logMessage">
	DELETE FROM log_message WHERE logRoom_idx = #{auction_idx}
	</delete>
	
	<delete id="logRoom">
	DELETE FROM log_room WHERE auction_idx = #{auction_idx}
	</delete>
	
	<update id="updateConfirmed">
		UPDATE auction 
			SET buyer_id = #{buyer_id},
				auction_status = '경매 마감'
				WHERE auction_idx = #{auction_idx}
	</update>
	
	<select id="selectAcution" resultType="map">
		SELECT CAST(immediately_price AS char) AS immediately_price FROM  
			auction WHERE auction_idx = #{auction_idx};
	</select>	
	
	<update id="updateDate">
		UPDATE auction SET auction_end = now(), buyer_id=#{chatId}
			WHERE auction_idx = #{auctionIdx};
	</update>
	
	<select id="depositList" resultType="string">
		SELECT member_id FROM deposit WHERE member_id = #{sId} AND auction_idx = #{auction_idx}
	</select>
	
	<insert id="depositInsert">
		INSERT INTO deposit VALUES(
		#{auction_idx}
		, #{id}
		, 3000
		)
	</insert>
	
	<select id="buyer" resultType="String">
		SELECT buyer_id
		 	FROM auction
		  		WHERE auction_idx = #{auction_idx }
	</select>
	
	<select id="getMemberPoint" resultType="int">
		SELECT charge_point
		 	FROM member
		  		WHERE member_id = #{id }
	</select>
	
	<select id="getMemberList" resultType="hashmap">
		SELECT member_id
		 	FROM deposit
		  		WHERE member_id != #{buyer} AND auction_idx = #{auction_idx}
	</select>
	
	<update id="pointWithDraw">
		UPDATE member SET charge_point = charge_point - 3000 WHERE member_id = #{id}
	</update>
	
	<update id="memberPointReturn">
		UPDATE member SET charge_point = charge_point + 3000 WHERE member_id = #{id}
	</update>
	
	<delete id="deleteMember">
		DELETE FROM deposit WHERE member_id != #{buyer} AND auction_idx = #{auction_idx }
	</delete>
	
	<select id="getMember" resultType="map">
		SELECT * FROM member WHERE member_id = #{id}
	</select>
	
	<update id="updateDateAdd">
		UPDATE auction SET auction_end = DATE_ADD(now(), INTERVAL 3 DAY), date_addCount = date_addCount + 1
			WHERE member_id = #{id} AND auction_idx = #{auction_idx};
	</update>
	
</mapper>
