<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.BankMapper">
	
	<!-- 토큰 정보(id, access_token, refresh_token, user_seq_no) 저장 -->
	<insert id="insertToken">
		INSERT
			INTO 
				account(
					id
					, user_seq_no
					, access_token
					, refresh_token
				)
			VALUES (
				#{id}
				, #{token.user_seq_no}
				, #{token.access_token}
				, #{token.refresh_token}
			);
	</insert>
	
	<!-- 계좌 인증 상태 변경(member 테이블의 아이디에 해당하는 account_auth_status 값을 'Y' 로 변경) -->
	<update id="updateAccountAuthStatus">
		UPDATE member
			SET
				account_auth = 'Y'
			WHERE
				member_id = #{member_id}
	</update>
	
	<!-- 계좌 정보 조회 - SELECT -->
	<select id="selectAccount" resultType="com.itwillbs.clever.vo.AccountVO">
		SELECT *
		FROM account
		WHERE id = #{id}
	</select>
	
	
	<!-- 포인트 적립 -->
	<update id="updateMemberPoint">
		UPDATE
			member
				SET
					charge_point = charge_point + #{charge_point}
					, member_balance = member_balance - #{charge_point} 
						WHERE
							member_id = #{id}
	</update>
	
	<!-- 멤버 잔액 조회 -->
	<select id="selectMemberInfo" resultType="com.itwillbs.clever.vo.MemberVO">
		SELECT *
			FROM member
				WHERE 
					member_id = #{id}	
	</select>
	
	<!-- 포인트 히스토리  -->
	<insert id="insertPointHistory">
			INSERT INTO point 
				VALUES (
					null
					, #{member_id}
					, #{charge_point}
					, now()
					, #{point_status}
					, #{account_amt}
					, #{admin_account_amt} + #{charge_point}
				)
	</insert>
	
	<!-- admin balance 업데이트 -->
	<update id="updateAdminBalance">
		UPDATE member
			SET 
				member_balance = member_balance + #{charge_point}
					WHERE
						member_id = 'admin' -- admin 잔액에 포인트 만큼 입금
	</update>
	
	<select id="getAdminInfo" resultType="com.itwillbs.clever.vo.MemberVO">
		SELECT *
			FROM member
				WHERE
					member_id = 'admin'		
	</select>
	
	<select id="selectMemberPoint" resultType="com.itwillbs.clever.vo.MemberVO">
		SELECT *
			FROM member
				WHERE 
					member_id = #{id}
	</select>
</mapper>











