<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.ChattingMapper">

	<!-- 판매물품 정보 조회 -->
	<select id="selectProduct" resultType="com.itwillbs.clever.vo.ProductVO">
		SELECT *
			FROM 
				product
			WHERE
				product_idx = ${product_idx}
	</select>
	
	<!-- memberIdx 조회 -->
	<select id="selectUserInfo" resultType="String">
		SELECT member_idx
			FROM
				member
			WHERE
				member_id = '${id}'
	</select>
	
	<!-- 채팅방 리스트 조회 -->
	<select id="selectChatList" resultType="com.itwillbs.clever.vo.ChatRoomVO">
<!-- 		SELECT *  -->
<!-- 			FROM chat_room -->
<!-- 			WHERE  -->
<!-- 				chatRoom_id  -->
<!-- 				LIKE  -->
<!-- 					CONCAT('%', (SELECT member_idx FROM member WHERE member_id = '${sId}'), '%') -->
<!-- 			ORDER BY chatRoom_date DESC -->
		
		<!-- 하나 수정 (S셀러와 B바이어 조건 두개를 다 맞춰줘야해서 OR구문 추가함) -->			
		SELECT * 
			FROM chat_room
			WHERE 
				chatRoom_id 
				LIKE 
					CONCAT('%S', (SELECT member_idx FROM member WHERE member_id = '${sId}'), 'B%')
					OR chatRoom_id LIKE CONCAT('%B', (SELECT member_idx FROM member WHERE member_id = '${sId}'));
	</select>
	
	<!-- 채팅방 생성 -->
	<insert id="openRoom">
		INSERT
			INTO 
				chat_room
			VALUES (
				#{chatRoomId}
				, #{productIdx}
				, now()
				, (SELECT product_subject 
					FROM product 
					WHERE product_idx = #{productIdx})
				, 'Y'
			)
	</insert>
	
	<!-- 채팅 메세지 저장 -->
	<insert id="insertChat">
		<selectKey keyProperty="message_idx" resultType="int" order="BEFORE">
				SELECT IFNULL(MAX(message_idx), 0) FROM chat_message
		</selectKey>
			INSERT
				INTO 
					chat_message
				VALUES (
					#{message_idx} + 1
					, #{chatRoomId}
					, #{buyerId}
					, #{sellerId}
					, now()
					, #{messageContent}
					, #{senderId}
				)
	</insert>
	
	<!-- 채팅방의 메세지 조회 -->
	<select id="selectRoomInfo" resultType="com.itwillbs.clever.vo.ChatMessageVO">
		SELECT *
			FROM 
				chat_message
			WHERE
				chatRoom_id = #{roomId}
	</select>


</mapper>
