<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.CustomerCenterMapper">

	<!-- 자주묻는질문의 카테고리 조회 (회원/계정, 스토어, 포인트 등등) -->
	<!-- 검색기능 추가 -->
	<select id="FAQcategory" resultType="map">
		<!-- 만약 param.equals('')이면서 !searchKeyword.equals('') 인 경우에는 where절에 <choose><when>만 실행하고 
				 만약 !param.equals('')이면서 !searchKeyword.equals('') 인 경우에는 where절에 <choose><when>과 FAQ_category = #{param}을 실행함 -->
			
		SELECT *
		  FROM FAQ
		 WHERE 1 = 1 <!-- 이렇게 하면 where절을 여러번 사용하지 않아도 됨 -->
		  <if test='!"".equals(param)'> <!-- 널스트링이 아닐때 동일한 param값 -->
		   AND FAQ_category = #{param}
		  </if>
		  <if test="!searchKeyword.equals('')">
		  	<if test="searchType.equals('FAQ_subject')">
		   	AND FAQ_subject LIKE '%${searchKeyword}%'
		  	</if>
		  	<if test="searchType.equals('FAQ_content')">
		  	AND FAQ_content LIKE '%${searchKeyword}%'
		  	</if>
		  </if>
		 ORDER BY FAQ_idx DESC; 
		 
		 
				<!-- 이 주석을 풀면 매핑과 검색이 안먹고.. 주석을 치면 카테고리 선택이 안되네 -->
<!-- 			<if test="!param.equals('ALL')"> -->
<!-- 				WHERE -->
<!-- 					FAQ_category = #{param}  -->
<!-- 			</if> -->
<!-- 			<if test="!searchKeyword.equals('')"> -->
<!-- 				WHERE -->
<!-- 	 			<choose> -->
<!-- 		 			<when test="searchType.equals('FAQ_subject')"> -->
<!-- 						FAQ_subject LIKE '%${searchKeyword}%'  -->
<!-- 					</when> -->
<!-- 					<when test="searchType.equals('FAQ_content')"> -->
<!-- 						FAQ_content LIKE '%${searchKeyword}%' -->
<!-- 					</when> -->
<!-- 	 			</choose> -->
<!-- 			</if> -->
<!-- 			ORDER BY FAQ_idx DESC; -->
			
			
<!-- 		SELECT -->
<!-- 				* -->
<!-- 			FROM -->
<!-- 				FAQ -->
<!-- 			<choose> -->
<!-- 				<when test="param.equals('') AND !searchKeyword.equals('')"> -->
<!-- 					WHERE -->
<!-- 					<choose> -->
<!-- 						<when test="searchType.equals('FAQ_subject')"> -->
<!-- 							FAQ_subject LIKE '%${searchKeyword}%' -->
<!-- 						</when> -->
<!-- 						<when test="searchType.equals('FAQ_content')"> -->
<!-- 							FAQ_content LIKE '%${searchKeyword}%' -->
<!-- 						</when> -->
<!-- 					</choose> -->
<!-- 				</when> -->
<!-- 				<when test="!param.equals('') AND !searchKeyword.equals('')"> -->
<!-- 					WHERE FAQ_category = #{param} -->
<!-- 					AND -->
<!-- 					<choose> -->
<!-- 						<when test="searchType.equals('FAQ_subject')"> -->
<!-- 							FAQ_subject LIKE '%${searchKeyword}%' -->
<!-- 						</when> -->
<!-- 						<when test="searchType.equals('FAQ_content')"> -->
<!-- 							FAQ_content LIKE '%${searchKeyword}%' -->
<!-- 						</when> -->
<!-- 					</choose> -->
<!-- 				</when> -->
<!-- 			</choose> -->
<!-- 			ORDER BY FAQ_idx DESC; -->
			
		
			
	</select>
	
	
	<!-- 자주묻는질문 리스트 조회 -->
	<select id="FAQlist" resultType="map">
		SELECT * FROM FAQ WHERE FAQ_idx = #{FAQ_idx} 
	</select>
	
	<!-- 자주묻는질문 관리자용 insert -->
	<insert id="insertFAQ">
	<selectKey keyProperty="FAQ_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(FAQ_idx), 0) FROM FAQ
	</selectKey>
		INSERT into FAQ
			values (
					#{FAQ_idx} + 1
					, #{FAQ_category}
					, #{FAQ_subject}
					, #{FAQ_content}
					);
	</insert>
	
	
	<!-- 1:1 문의 list 조회 -->
	<select id="myAskedList" resultType="map">
		SELECT *
			FROM asked
			WHERE member_id = '${sId}'
	</select>
	
	<!-- 1:1 문의 내용 조회 -->
	<select id="myAskedDetail" resultType="map">
		SELECT *
			FROM asked
			WHERE asked_idx = #{asked_idx}
	</select>
	
	<!-- 1:1 답변 조회 -->
	<select id="myAskedAns" resultType="map">
		SELECT *
			FROM asked_ans
			WHERE asked_idx = #{asked_idx}
	</select>
	
	<!-- 1:1 문의 등록 -->
	<insert id="insertAsked">
		<selectKey keyProperty="asked_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(asked_idx), 0) FROM asked
		</selectKey>
		INSERT
			INTO 
				asked
			VALUES (
				#{asked_idx} + 1
				,#{member_id}
				,#{asked_subject}
				,#{asked_content}
				,'N'
			)
	</insert>
	
	<!-- 1:1 답변 등록 -->
	<insert id="insertAskedAns">
		<selectKey keyProperty="ans_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(ans_idx), 0) FROM asked_ans
		</selectKey>
		INSERT
			INTO 
				asked_ans
			VALUES (
				#{ans_idx} + 1
				,#{asked_idx}
				,#{ans_content}
			)
	</insert>
	<update id="updateAskedAns">
		UPDATE
			asked
			SET
				asked_status = 'Y'
			WHERE asked_idx = #{asked_idx}
	</update>

</mapper>
