<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.GoodsMapper">

	<insert id="insertGoods">
		<selectKey keyProperty="goods_idx" resultType="int" order="BEFORE">
				SELECT IFNULL(MAX(goods_idx), 0) FROM goods
		</selectKey>
			INSERT
				INTO goods
				VALUES (
					#{goods_idx} + 1 -- 굿즈 번호
					, #{goods_name}
					, #{goods_price}
					, #{goods_content}
					, now()
					, #{goods_stock}
				)
	</insert>
	
	
	<!-- 	file 테이블의 file_num(= product테이블의 product_idx)의 max값을 select함 -->
	<select id="selectMax" resultType="int">
		SELECT
			MAX(goods_idx)
		FROM
			goods;
	</select>
	
	<!-- 굿즈 목록 조회 -->
	<select id="selectGoodsList" resultType="HashMap">
		SELECT *
			FROM goods
	</select>
	
	<!-- 메인에 띄워줄 첫 번쨰 업로드 사진 select -->
	<select id="selectFile" resultType="HashMap">
		SELECT *
		FROM file f 
			WHERE file_idx in 
				(SELECT MIN(file_idx) AS file_idx
					FROM file
						WHERE file_div = 'goods'
							GROUP BY file_num);
	</select>
	
	<!-- 굿즈 수정용 목록 조회 -->
	<select id="selectGoods" resultType="HashMap">
		SELECT *
			FROM goods
			WHERE goods_idx = ${goods_idx}
	</select>
	
</mapper>






















