<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.MypageMapper">

	<!-- 중고거래 판매 전체 내역 select -->
	<select id="selectProductSellList" resultType="HashMap">
		SELECT *
			FROM product
			WHERE member_id = #{sId}
			ORDER BY product_idx DESC;
	</select>
	
	<!-- 중고거래 판매날짜 정보 select -->
	<select id="selectProductSellDate" resultType="HashMap">
		SELECT *
			FROM sell
			WHERE sell_id = #{sId}
			ORDER BY sell_idx DESC;
	</select>
	
	<!-- 내 판매 내역 수량 조회 select -->
	<select id="getSellCount" resultType="int">
		SELECT COUNT(*)
			FROM product
			WHERE member_id = #{sId}
	</select>
	
	<!-- 중고거래 구매정보 select -->
	<select id="selectProductBuyList" resultType="HashMap">
		SELECT *
			FROM buy 
			WHERE buy_id = #{sId};
	</select>
	
	<!-- 중고거래 찜 내역 select -->
	<select id="selectProductDibsList" resultType="HashMap"> 
		SELECT p.product_idx, p.product_subject, p.product_price, p.product_date, d.dibs_type, d.type_num
			FROM product p 
			JOIN dibs d ON p.product_idx = d.type_num  
			WHERE d.member_id = #{sId} AND d.dibs_type = 'product'; 
	</select>
	
	<!-- 내 경매 전체 내역 select -->
	<select id="selectAuctionList" resultType="HashMap">
		SELECT *
			FROM auction
			WHERE member_id = #{sId}
			ORDER BY auction_idx DESC;
	</select>
	
	<!-- 경매 낙찰 내역 select -->
	<select id="selectAuctionBidList" resultType="HashMap">
		SELECT *
			FROM auction
			WHERE buyer_id = #{sId}
	</select>
	
	<!-- 경매 찜 내역 select -->
	<select id="selectAutionDibsList" resultType="HashMap"> 
		SELECT a.auction_idx, a.auction_title, a.auction_final_price, a.auction_date, d.dibs_type, d.type_num
			FROM auction a  
			JOIN dibs d ON a.auction_idx = d.type_num  
			WHERE d.member_id = #{sId} AND d.dibs_type = 'auction';
	</select>
	
	<!-- 경매 찜에 띄워줄 첫번째에 업로드한 사진 select -->
	<select id="selectAuctionFile" resultType="HashMap">
		SELECT *
		FROM file f 
			WHERE file_idx in 
				(SELECT MIN(file_idx) AS file_idx
					FROM file
						WHERE file_div = 'auction'
							GROUP BY file_num);
	</select>
	
	<!-- 굿즈 구매 내역 조회 -->
	<select id="selectGoodsList" resultType="HashMap">
		SELECT *
			FROM buyGoods
				WHERE 
					buy_id = #{sId}	
	</select>
	
	<!-- 해당 아이디 신고 전체 내역 select -->
	<select id="selectReportList" resultType="HashMap">
		SELECT *
			FROM report
			WHERE seller_id = #{sId}
			ORDER BY report_idx DESC;
	</select>
	
	<!-- 멤버 등급 select -->
	<select id="selectMemberGrade" resultType="HashMap">
		SELECT member_rank
			FROM member
			WHERE member_id = #{sId}
	</select>
	
	<!-- 후기 작성 insert -->
	<insert id="insertReview">
		<selectKey keyProperty="review_idx" resultType="int" order="BEFORE">
	 			SELECT IFNULL(MAX(review_idx), 0) FROM review
		</selectKey>
		INSERT 
			INTO review 
			VALUES(
				#{review_idx} + 1
				,#{review_id}
				,#{review_seller}
				,#{review_content}
				,now()
			)
	</insert>
	
	<select id="selectReviewCheck" resultType="HashMap">
		SELECT *
			FROM review
			WHERE review_id = #{sId}
	</select>
	
	<!-- 경매 상품 특정idx만 select -->
	<select id="selectAuctionDetail" resultType="HashMap">
		SELECT *
			FROM auction
			WHERE auction_idx = #{auction_idx}
	</select>
	
	<!-- 결제페이지에서 회원정보 조회 -->
	<select id="selectMemberInfo" resultType="map">
		SELECT *
			FROM member
			WHERE member_id = #{sId}
	</select>
	
	<!-- 상품구매시 판매상품 auction_status 업데이트 -->
	<update id="updateAuctionStatus">
		UPDATE 
				auction 
			SET 
				auction_status = '판매완료' 
			WHERE 
				auction_idx = #{auction_idx}
	</update>
	
	<update id="updateMemAdMoney">
		UPDATE 
				member 
			SET 
				member_balance = member_balance + #{auction_final_price} 
			WHERE 
				member_id = 'admin'
	</update>
	
	<!-- 상품구매시 구매자 계좌 출금 -->
	<update id="buyerWithdraw">
		UPDATE 
				member 
			SET 
				member_balance = member_balance - #{auction_final_price} 
			WHERE 
				member_id = #{sId}
	</update>
	
	
	<insert id="depositAdMoney">
		<selectKey keyProperty="admin_account_balance" resultType="int" order="BEFORE">
<!-- 	 			SELECT IFNULL(MAX(admin_account_idx), 0) FROM admin_account -->
			SELECT admin_account_balance FROM admin_account ORDER BY admin_account_idx DESC LIMIT 1;
		</selectKey>
		INSERT 
			INTO admin_account 
			VALUES(
				null
				,#{sId}
				,#{auction_final_price}
				,'d'
				,now()
				,#{admin_account_balance} + #{auction_final_price}
			)
	</insert>
	
	<!-- 상품구매시 구매정보 조회 -->
	<select id="selectByInfo" resultType="map">
		select * from auction where auction_idx = #{auction_idx}
	</select>
	
	<!-- auction_buy 테이블에 인서트 -->
	<insert id="insertBuyAuction">
			INSERT INTO auction_buy
			VALUES (
				null
				,#{sId}
				,#{selectByInfo.auction_title}
				,#{selectByInfo.auction_final_price}
				,now()
				,#{selectByInfo.member_id}
				,#{selectByInfo.auction_idx}
				,'결제완료'
			)
	</insert>
	
	<!-- 구매확정 버튼 눌렀을 때, 관리자계좌 테이블에 출금 insert -->
	<insert id="withdrawAdMoney">
		<selectKey keyProperty="admin_account_balance" resultType="int" order="BEFORE">
			SELECT admin_account_balance FROM admin_account ORDER BY admin_account_idx DESC LIMIT 1;
		</selectKey>
		INSERT 
			INTO admin_account 
			VALUES(
				null
				,#{auction_buy_seller}
				,#{auction_buy_price}
				,'w'
				,now()
				,#{admin_account_balance} - #{auction_buy_price}
			)
	</insert>	
	
	<!-- 구매확정시 판매자에게 돈 입금 -->
	<update id="buyerDeposit">
		UPDATE 
				member 
			SET 
				member_balance = member_balance + #{auction_buy_price}
				,member_point = member_point + 500
			WHERE 
				member_id = #{auction_buy_seller}
	</update>
	
	<!-- 마이페이지에서 구매확정 시 auction_buy 상태 업데이트 -->
	<update id="updateStatus">
		UPDATE auction_buy
			SET auction_buy_status = '구매확정'
			WHERE auction_idx = #{auction_idx}
	</update>
	
	<!-- 마이페이지에서 구매확정 시 auction 상태 업데이트 -->
	<update id="updateAStatus">
		UPDATE auction
			SET auction_status = '구매확정'
			WHERE auction_idx = #{auction_idx}
	</update>
	
</mapper>