<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.ProductMapper">

	<!-- 중고상품등록 INSERT태그 -->
	<insert id="insertProduct"> 
	<selectKey keyProperty="product_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(product_idx), 0) FROM product
	</selectKey>
		INSERT
			INTO product
			VALUES (
				#{product_idx} + 1,
				#{id},
				#{map.product_subject}, 
				#{map.sale_location},
				#{map.product_status},
				#{map.product_price},
				#{map.product_content},
				#{map.product_tag},
				#{map.sale_pay},
				'판매중',
				now(),
				#{map.product_Lcategory},
				#{map.product_Mcategory},
				#{map.product_Scategory}
			)
	</insert>
	
	<!-- 중고상품의 이미지를 file테이블에 INSERT -->
	<insert id="insertFile">
	<selectKey keyProperty="file_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(file_idx), 0) FROM file
	</selectKey>
		INSERT
			INTO file (file_idx, file_div, file_num, file_name, file_path, file_size, file_exe)
			VALUES (
				#{file_idx} + 1,
				#{file_div},
				#{file_num},
				#{file_name},
				#{file_path},
				#{file_size},
				#{file_exe}
			)
	</insert>


<!-- 	file 테이블의 file_num(= product테이블의 product_idx)의 max값을 select함 -->
	<select id="selectMax" resultType="int">
		SELECT
			MAX(product_idx)
		from
			product;
	</select>
	
	
	<!-- 중고상품 전체 select -->
	<select id="selectProduct" resultType="HashMap">
		SELECT *
			FROM product
			ORDER BY product_idx DESC;
	</select>
	
	
	<!-- 중고상품 특정idx만 select -->
	<select id="selectProductDetail" resultType="HashMap">
		SELECT *
			FROM product
			WHERE product_idx = #{product_idx}
			ORDER BY product_idx DESC;
	</select>
	
	
	<!-- 중고상품 판매자 신고 insert -->
	<insert id="insertProductReport">
		<selectKey keyProperty="report_idx" resultType="int" order="BEFORE">
	 			SELECT IFNULL(MAX(report_idx), 0) FROM report
	 	</selectKey>
		INSERT
			INTO report
			VALUES (
				#{report_idx} + 1
				,#{report_content}
				,1
				,#{product_idx}
				,#{seller_id}
				,#{reporter_id}
				,'product'
			)
	</insert>
	
	
	<!-- 중고상품 같은 카테고리 연관상품 select (소분류를 조회하기에는 너무 적을 것 같아서 중분류로 조회함) -->
	<select id="selectProductSameCategory" resultType="HashMap">
			SELECT
				p.product_idx ,
				p.product_subject ,
				p.product_price,
				p.product_Mcategory,
				f.file_idx,
				f.file_num ,
				f.file_name,
				f.file_path
			FROM
				product p
			JOIN file f on
				p.product_idx = f.file_num
			WHERE 
				product_Mcategory = #{product_Mcategory}
			AND product_idx != #{product_idx}
			AND file_div = 'product'
			AND f.file_idx = (
		        SELECT
		            MIN(file_idx)
		        FROM
		            file
		        WHERE
		            file_num = p.product_idx
		    );
	</select>
	
	
	<!-- 중고상품 메인에 띄워줄 첫번째에 업로드한 사진 select -->
	<select id="selectFile" resultType="HashMap">
		SELECT *
		FROM file f 
			WHERE file_idx in 
				(SELECT MIN(file_idx) AS file_idx
					FROM file
						WHERE file_div = 'product'
							GROUP BY file_num);
	</select>
	
	
	<!-- 중고상품 이미지 모두 select -->
	<select id="selectFiles" resultType="HashMap">
		SELECT * FROM file f WHERE file_div = 'product';
	</select>
	
	
	<!-- 판매자정보 select -->
	<select id="sellerInfoCount" resultType="String">
		SELECT
			count(product_idx) as 'count'
		from
			product
		where
			member_id IN (select member_id from product where product_idx = #{product_idx})
	</select>
	
	<!-- 중고상품 수정하기 update -->
	<update id="updateProduct">
		UPDATE
			product
		set
			product_subject = #{product_subject}
			,sale_location = #{sale_location}
			,product_status = #{product_status}
			,product_price = #{product_price}
			,product_content = #{product_content}
			,product_Lcategory = #{product_Lcategory}
			,product_Mcategory = #{product_Mcategory}
			,product_Scategory = #{product_Scategory}
		where
			product_idx = #{product_idx};
	</update>
	
	
	<!-- 중고상품 파일삭제 (수정중) -->
	<delete id="deleteFile" parameterType="int">
		DELETE from file where file_div = 'product' and file_name = #{file_name}
	</delete>
	
	<delete id="deleteProduct">
		DELETE FROM product WHERE product_idx = #{product_idx}
	</delete>
	
	<!-- 찜했는지 가져오는 select -->
	<select id="selectDibsCheck" resultType="com.itwillbs.clever.vo.DibsVO">
	SELECT dibs_check
		FROM dibs
		WHERE dibs_type = #{dibs_type} AND type_num = #{type_num} AND member_id = #{member_id}; 
	</select>

	<!-- 찜 추가 -->
	<insert id="insertDibs">
	<selectKey keyProperty="dibs_idx" resultType="int" order="BEFORE">
	 			SELECT IFNULL(MAX(dibs_idx), 0) FROM dibs
	</selectKey>
	INSERT
		INTO dibs
		VALUES
		(
		#{dibs_idx} + 1
		, #{dibs_type}
		, #{type_num}
		, #{member_id}
		, 1
		)
	</insert>

	<!-- 찜 삭제 -->
	<delete id="deleteDibs">
	DELETE
		FROM dibs
		WHERE dibs_type = #{dibs_type} AND type_num = #{type_num} AND member_id = #{member_id}; 
	</delete>
	
	
</mapper>