<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.clever.mapper.ProductMapper">

	<!-- 중고상품등록 INSERT태그 -->
	<insert id="insertProduct"> 
	<selectKey keyProperty="product_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(product_idx), 0) FROM product
	</selectKey>
		INSERT
			INTO product
			VALUES (
				#{product_idx} + 1,
				#{member_id},
				#{product_file},
				#{product_subject}, 
				#{product_category},
				#{sale_location},
				#{product_status},
				#{product_price},
				#{product_content},
				#{product_tag},
				#{sale_pay},
				'판매중 하드코딩'
			)
	</insert>
	
	<!-- 중고상품의 이미지를 file테이블에 INSERT -->
	<insert id="insertFile">
	<selectKey keyProperty="file_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(file_idx), 0) FROM file
	</selectKey>
		INSERT
			INTO file (file_idx, file_div, file_num, file_name, file_path, file_size, file_exe)
			VALUES (
				#{file_idx} + 1,
				#{file_div},
				#{file_num},
				#{file_name},
				#{file_path},
				#{file_size},
				#{file_exe}
			)
	</insert>


<!-- 	file 테이블의 file_num(= product테이블의 product_idx)의 max값을 select함 -->
	<select id="selectMax" resultType="int">
		SELECT
			MAX(product_idx)
		from
			product;
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>